.flight {
    position: relative;
    border: 1px solid #ccc2c2;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.remove-flight{
    position: absolute;
    right:0;
    top:-10px;
    z-index:1;
}

.select2-container {
    display: block;
}

.select2-container--default .select2-dropdown .select2-search__field, .select2-container--default .select2-search--inline .select2-search__field {
    border: none;
}
