/*THEME SETTINGS*/
img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

input {
    width: 100%;
}

.main-bg {
    background: #E5E5E5;
}

p {
    margin-bottom: 0px;
}

@font-face {
    font-family: Harabara Mais Demo;
    src: url("fonts/roboto/harabara-mais/Harabara Mais Demo.otf") format("opentype");
}

@font-face {
    font-family: Circular Std;
    src: url("fonts/roboto/сircular/CircularStd-Book.woff") format("woff");
}

@font-face {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-style: normal;
    src: url("fonts/roboto/font/HelveticaNeue-Bold.woff") format("woff");
}

@font-face {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/roboto/font/HelveticaNeue.woff") format("woff");
}


/*NAV-BAR*/
.navbar-brand .logo-icon {
    background: #57A773;
    border-radius: 5px;
    padding: 9px 14px;
    position: relative;
}

.navbar-brand .logo-icon i {
    font-size: 24px;
    color: #fff;
}

.navbar-brand .logo-text {
    font-family: Helvetica Neue;
    font-size: 22px;
    line-height: 24px;
    color: #57A773;
}

.navbar-nav li a {
    font-family: Helvetica Neue;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
}

header .navbar-collapse.collapse {
    transition: height 0.3s ease;
}

header .navbar {
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
    width: 100%;
    text-align: center;
}

header .navbar-collapse.collapsing {
    height: 0px !important;
}

.navbar-toggler-icon {
    background: #57A773;
    border-radius: 5px;
    padding: 20px 21px;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler-icon i {
    font-size: 24px;
}

header .collapse.show {
    max-height: none;
    height: 100vh;
}


/* ENTER AREA */
.enter-area {
    position: relative;
}

.enter-area img {
    filter: brightness(50%);
    min-height: 310px;
}

.enter-area-content h1 {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*  TABS */
.home-tabs {
    transform: translateY(-65px);
}

.home-tabs li a span {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.4;
}

.home-tabs li a {
    background: #F5F5F5;
    /*box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);*/
    height: 55px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.home-tabs .nav-link.active {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    /*box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);*/
    color: #000000;
    height: 65px;
    margin-top: 0px;
}

.home-tabs .nav-link.active span {
    opacity: 1;
}

.field {
    position: relative;
}

.fordatepicker .field input {
    height: 60px;
    padding: 25px 0 0px 35px;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #E8E9E8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #F9F9F9;
    width: 100%;
}

.field label {
    top: 10px;
    opacity: 1;
    left: 15px;
    font-size: 12px;
    line-height: 15px;
    z-index: 9999;
    position: absolute;
    font-family: Helvetica Neue;
    font-weight: bold;
}

.field label i {
    color: #C4C4C4;
    margin-right: 7px;
    font-size: 14px;
}

.fordatepicker {
    padding: 0px;
}

.select2-container--default .select2-selection--multiple {
    border: none;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    font-size: 12px;
    line-height: 14px;
    height: 60px;
    background: #F9F9F9;
    border: 1px solid #E8E9E8;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bg-white .select2-container .select2-selection--single {
    background: #ffffff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 25px 35px 0px;
}

.select2-container--open .select2-dropdown--above {
    z-index: 9999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.picker {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-top: none;
    box-sizing: border-box;
    /*box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);*/
}

.data-type, .package-type {
    flex: 0 0 39%;
    max-width: 39%;
    position: relative;
}

.top-btn {
    padding: 0px 90px 0px 87px;
    margin-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
}

.search-btn a:hover {
    background-color: transparent;
    color: #57A773;
}

.select2-selection:focus {
    outline: none;
}

.field input:focus {
    outline: none;
}

/* PACKEGS AREA */

.title h3 {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 92px;
}

.info {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #EAEAEA;
}

.fly-info {
    margin-left: 20px;
}

.city-info-area .fly-info {
    margin-left: 0px;
}

.fly-info p, .arrive-info p {
    font-family: Helvetica Neue;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;
}

.plane-icon::after {
    content: "";
    background: #F5F5F5;
    width: 1px;
    height: 32px;
    margin: 0px 9px;
}

.fly-wr {
    display: flex;
    margin-left: 31px;
}

.fly-wr p, .fly-wr b {
    margin: 0px 7px;
}

.arrive-info {
    margin-left: 31px;
}

.tabs-blocks {
    padding: 20px;
    position: relative;
}

.home-tab-content {
    transform: translateY(-65px);
}

.home-tab-content .box-all {
    border: 1px solid #EAEAEA;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.lenta p {
    position: absolute;
    z-index: 1;
    background: #57A773;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 4px 15px;
    left: -15px;
}

.lenta .lenta-bt img {
    z-index: 1;
    position: absolute;
    left: -15px;
    top: 43px;
    width: 15px;
    height: 12px;
}

.box-content h3 {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 0px;
}

.box-content {
    padding-left: 0px;
}

.box-content p {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
}

.box {
    padding-top: 20px;
}

.stars {
    margin-bottom: 20px;
}

.stars span i {
    color: #FFB800;
    font-size: 10px;
}

.right-box {
    background-color: #F9F9F9;
}

.right-box-content p {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #000000;
}

.right-box-content span {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    opacity: 0.5;
}

.rew-marks p {
    background: #57A773;
    border-radius: 3px;
    padding: 10px;
    border-bottom-left-radius: 0px;
    margin-left: 10px;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.right-box-bottom p {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #4E9466;
}

.right-box-bottom span {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    opacity: 0.4;
}

.right-box-item {
    flex: 1;
    height: 100%;
}

.right-all-box {
    height: 100%;
}

.rigt-box-btn a {
    background: #57A773;
    border: 1px solid #4E9466;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    padding: 9px 77px 10px;
    color: #fff;
    transition: 0.3s all;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.rigt-box-btn {
    margin-top: 20px;
}

.rigt-box-btn a:hover {
    background-color: transparent;
    color: #57A773;
    border-color: #4E9466;
}

.right-box-content {
    margin-top: 25px;
}

sup {
    font-weight: 100;
    font-size: 70%;
}

.right-box-bottom {
    margin-top: 0px;
}

.rew-marks {
    margin-top: 20px;
}




/*  */

.search-area-content h3 {
    font-family: Helvetica Neue;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.search-area-content span {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

.search-area {
    background-color: #212121;
    padding: 50px 0px;
}

.search-area-box {
    margin-top: 30px;
}

.search-area-box form {
    width: 44%;
    min-width: 500px;
}

.form-box {
    background: #F9F9F9;
    border: 1px solid #E8E9E8;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-box .form-control {
    border: none;
    padding: 25px 0px 25px 30px;
}

.form-box .form-control:focus {
    border: none;
    box-shadow: none;
}

.form-box .form-control::placeholder {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.5;
}

.btn-success {
    background: #57A773;
    border: 1px solid #4E9466;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    color: #fff;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
}

.bottom-btn {
    padding: 10px 56px;
    margin: 5px 5px 5px 0px;
}

.btn-success:hover {
    background-color: transparent;
    color: #57A773;
    border-color: #4E9466;
}

/* footer */
footer p {
    padding: 20px 0px;
    font-family: Circular Std;
    font-size: 14px;
    line-height: 21px;
    color: #121212;
    opacity: 0.5;
    /*background: #F9F9F9;*/
}


/* SIGN UP */
.sign-header {
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.05);
}

.sign-area {
    padding-top: 137px;
    padding-bottom: 75px;
}

.sign-bg {
    background: #E5E5E5;
}

.sign-area-content {
    align-items: flex-end;
    margin-bottom: 18px;
}

.sign-area-title h3 {
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
}

.sign-area-title p {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
}

.sign-box-wth {
    flex: 0 0 50%;
    max-width: 468px;
}

.title-step {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #57A773;

}

.sign-form form {
    background-color: #fff;
    box-shadow: 0px 4px 16px rgba(163, 163, 163, 0.05);
    border-radius: 5px;
    padding: 30px;
}

.sign-form-control {
    background: #FFFFFF;
    border: 1px solid #E8E9E8;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px 0px;
    height: calc(1.5em + 1.75rem + 8px);
    padding: .375rem 0.95rem;
    padding-top: 25px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.5;
}

.input-box {
    position: relative;
}

.sign-form-control:required ~ label::after {
    content: "*";
    font-size: 14px;
    color: red;
    padding-left: 5px;
}

.input-dirty.input-error {
    border-color: red;
}

.sign-input-label {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
    position: absolute;
    top: 21px;
    left: 15px;
    transition: 0.3s all;
}

.sign-form-control:focus {
    border: 1px solid #66C085;
    box-shadow: 0px 0px 4px rgba(87, 167, 115, 0.5);
}

.sign-first-btn {
    padding: 16px 79px 16px 79px;
    background-color: transparent;
    color: #57A773;
    margin-top: 10px;
}

.sign-first-btn:hover {
    background-color: #57A773;
    color: #fff;
}

.backing-link {
    margin-top: 20px;
    padding-right: 50px;
}

.backing-link a {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 20px;
    color: #57A773;
}

.sign-second-btn {
    padding: 16px 79px 16px 79px;
    margin-top: 10px;
}

.sign-area-title {
    padding-right: 50px;
}

.input-active ~ label, .input-filled ~ label {
    top: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica Neue;
    color: #000000;
}

@media screen and (max-width: 991px) {
    .sign-second-btn, .sign-first-btn {
        padding: 16px 60px 16px 60px;
    }
}

@media screen and (max-width: 825px) {
    .sign-btn-box {
        justify-content: flex-end !important;
        align-items: flex-end !important;
        flex-direction: column-reverse;
    }

    .backing-link p {
        padding: 0px;
    }

}

@media screen and (max-width: 827px) {
    .backing-link {
        padding-right: 35px;
    }
}

@media screen and (max-width: 807px) {
    .sign-area-title p {
        margin-top: 10px;
    }
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    background-color: transparent;
    color: #57A773;
    border-color: #4E9466;
}

.btn-success.focus, .btn-success:focus {
    background-color: transparent;
    color: #57A773;
    border-color: #4E9466;
    box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: none;
}


/* PAKCKAGE DETALIS */
.book-area-block {
    background: #252525;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.05);
    margin-top: 72px;
    padding: 17px 0px;
    position: relative;
}

.offer-title h3 {
    font-family: Helvetica Neue;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px;
}

.offer-price .price-text {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 3px;
}

.offer-price .right-box-bottom span {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    opacity: 1;
}

.offer-price {
    padding-right: 50px;
}

.book-btn {
    width: 207px;
    display: flex;
    justify-content: center;
    height: 47px;
}

.book-right-box-bg {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    background-color: #000000;
    height: 100%;
    width: 30%;
    max-width: 30%;
    z-index: 0;
}

.book-btn-box {
    z-index: 1;
}


.book-area {
    padding: 60px 0px;
}

.book-area-box {
    padding: 60px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(206, 206, 206, 0.25);
    border-radius: 3px;
    position: relative;
}

.book-area-box .lenta p {
    top: 20px;
}

.book-area-title h3 {
    font-family: Helvetica Neue;
    font-size: 38px;
    line-height: 46px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 23px;
}

.book-area-content p {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 22px;
    border-bottom: 1px solid #EAEAEA;
}

.book-area-btn-box {
    display: flex;
    justify-content: flex-end;
}

.book-area-bottom .price-text {
    color: #000000;
}

.book-area .right-box-content span {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    opacity: 0.4;
}

.book-area-bottom {
    padding-top: 22px;
}


.city-info-area-box .nav-tabs .nav-link {
    display: flex;
    justify-content: center;
    background: #F4F4F4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.4;
    font-weight: bold;
    padding: 16px 0px;
    border: 1px solid #EAEAEA;
}

.city-info-area-box .nav-tabs .nav-link.active {
    background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0) 100%);
    box-sizing: border-box;
    border-radius: 3px;
    color: #000000;
    opacity: 1;
    padding: 20px 0px;
    margin-top: -7px;
    border-bottom: none;
}

.city-info-area-box .nav-tabs {
    border: none;
}

.city-info-area-box .tab-content {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(206, 206, 206, 0.25);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 30px;
}

.no-gutters {
    margin-top: 5px;
}

.no-gutters .col {
    margin-right: 5px;
}

.city-galery-content h3 {
    font-family: Helvetica Neue;
    font-size: 24px;
    line-height: 41px;
    font-weight: bold;
    color: #000000;
}

.city-galery-content p {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 25px;
    margin-top: 15px;
}

.city-galery-list {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    margin: 10px 0px;
}

.city-galery-content .stars {
    display: flex;
    justify-content: flex-end;
}

.city-galery-content .stars i {
    display: inline-block;
    margin: 0px 5px;
    font-size: 12px;
}

.city-info-area .fly-box {
    justify-content: space-between;
    width: 100%;
    background: #FDFDFD;
    border: 1px solid #EAEAEA;
    border-left: none;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.city-info-area .fly-info {
    width: 100%;
    justify-content: center;
    padding: 30px 0px;
}

.city-info-area .arrive-info {
    margin: 0px;
    border-left: 1px solid #EAEAEA;
}

.info-left-img {
    padding: 27px 30px;
    background: #F8F8F8;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.city-info-area .info-title {
    font-family: Helvetica Neue;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
}

.reviews-area-box {
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(206, 206, 206, 0.25);
    border-radius: 3px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.reviews-area-left-box {
    background: #F8F8F8;
    border-right: 1px solid #EAEAEA;
    box-sizing: border-box;
}

.reviews-area {
    padding: 60px 0px 90px;
}

.reviews-area-left-box img {
    width: auto;
}

.reviews-area-box .title {
    font-family: Helvetica Neue;
    font-size: 18px;
    line-height: 31px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}

.reviews-area-right-box {
    padding: 20px;
}

.view-link {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.review-btn {
    background-color: transparent;
    border: none;
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    color: #57A773;
    font-weight: bold;
}

.view-link .btn-success:not(:disabled):not(.disabled).active, .view-link .btn-success:not(:disabled):not(.disabled):active, .view-link .show > .btn-success.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #57A773;
    box-shadow: none;
}

.view-link .btn-success:not(:disabled):not(.disabled).active:focus, .view-link .btn-success:not(:disabled):not(.disabled):active:focus, .view-link .show > .btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.view-link .btn-success.focus, .view-link .btn-success:focus {
    background-color: transparent;
    border: none;
    color: #57A773;
    box-shadow: none;
}

.reviews-area-title h3 {
    font-family: Helvetica Neue;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.dropdown-box .card-body {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(206, 206, 206, 0.25);
    border-radius: 3px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 30px;
}

.card-body-header-review h3 {
    font-family: Helvetica Neue;
    font-size: 66px;
    line-height: 79px;
    font-weight: bold;
    color: #57A773;
    margin-right: 14px;
}

.card-body-header-review p {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    margin-bottom: 5px;
}

.card-body-header-review span {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
}

.card-btn {
    width: 207px;
    height: 47px;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
}

.card-body-header {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 30px;
}

.user-image {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #EAEAEA;
    margin-right: 10px;
}

.item-box {
    padding-top: 30px;
}

.item-box .user p {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    margin-bottom: -5px;
}

.user {
    margin-top: 20px;
}

.user-info p {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.user-info span {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 21px;
    color: #999999;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.owl-dots button:focus {
    outline: none;
}

.owl-dots button {
    margin-top: 10px;
}

.owl-dots button span {
    display: inline-block;
    height: 3px;
    width: 130px;
    background: #57A773;
    margin: 0px 5px;
}

.collapsereview .card-body {
    margin-top: 20px;
    border: none;
    box-shadow: none;
}

.collapsereview .sign-form form {
    box-shadow: none;
}

.input-box .select2-container .select2-selection--single {
    background-color: #fff;
}

.input-box .select-label {
    top: 10px;
}

.select2-search__field:focus {
    outline: none;
    box-shadow: 0px 0px 4px rgba(87, 167, 115, 0.5);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #E8E9E8;
}

.select-label {
    color: #000000;
}

.hidden {
    display: none;
}

.img-mini {
    width: 50px;
    height: 50px;
}

.img-normal {
    /*width: 190px;*/
    height: 135px;
    border-radius: 10px;
}

.img-galery-mini {
    width: 100px;
    height: 100px;
}

.city-info-area-box {
    width: 100%;
}


.zafa-sokkichi{
    opacity: 1;
    position: initial;
    width: auto;
}

.zafa-sokkichi input[type="checkbox"]{
    width:auto;
    margin-right: 10px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.scheduler-border.dynamic-field {
    padding-top: 20px;
}

.remove-button {
    position: absolute;
    top: -20px;
    right: 10px;
}

fieldset.scheduler-border {
    position: relative;
}

fieldset.scheduler-border legend {
    width: auto;
}


/* MEDIA */
@media screen and (max-width: 1225px) {
    .book-right-box-bg {
        width: 28%;
    }
}

@media screen and (max-width: 1550px) {
    .book-right-box-bg {
        width: 30%;
    }
}

@media screen and (max-width: 1140px) {
    .top-btn {
        padding: 0px 68px;
    }

    .rigt-box-btn a {
        padding: 9px 55px 10px;
    }

    .rew-marks p {
        padding: 5px;
        font-size: 12px;
    }

    .right-box-item p, .right-box-item span {
        font-size: 10px;
    }

    .rew-marks {
        margin-top: 25px;
    }

    .book-right-box-bg {
        width: 27%;
    }

    .book-btn-box .book-btn {
        width: 170px;
    }

    .book-right-box-bg {
        width: 30%;
    }

    .book-btn-box .book-btn {
        width: 170px;
    }
}

@media screen and (max-width: 1200px) {
    .rigt-box-btn a {
        padding: 9px 58px 10px;
    }

    .right-box-item p {
        font-size: 10px;
    }

    .right-box-item span {
        font-size: 9px;
    }

    .rew-marks {
        margin-top: 25px;
    }

    .rew-marks p {
        padding: 5px;
    }

    .right-box-bottom {
        font-size: 24px;
    }

    .book-btn-box .book-btn {
        width: 170px;
    }
}

@media screen and (max-width: 991px) {
    .top-btn {
        padding: 0px 42px;
    }

    .right-box-bottom p {
        font-size: 24px;
    }

    .right-box-item {
        align-items: center;
    }

    .right-box-item p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .rew-marks {
        margin-top: 23px;
    }

    .rew-marks p {
        padding: 10px;
    }

    .right-box-item span {
        font-size: 12px;
    }

    .enter-area-content h1 {
        font-size: 42px;
        line-height: 50px;
        width: 75%;
    }

    .home-tabs li a {
        width: 185px;
    }

    header .navbar-nav {
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .box .col-lg-6 {
        margin: 10px 0px;
    }

    .bottom-box {
        margin-top: 20px;
    }

    .navbar-nav li a {
        font-size: 20px;
        margin: 10px 0px;
    }

    .offer-price {
        margin: 0px;
        justify-content: center;
        align-items: center;
    }

    .city-galery-content h3 {
        font-size: 16px;
    }

    .card-body-header-review h3 {
        font-size: 40px;
    }

    .card-body-header-review p {
        font-size: 14px;
    }

    .card-body-header-review span {
        font-size: 12px;
    }

    .owl-dots button span {
        width: 55px;
    }

    .book-area-left-box .offer-price {
        flex-direction: row;
    }

    .book-area-left-box .right-box-content {
        margin-top: 0px;
    }

    .book-right-box-bg {
        top: 68px;
        width: 100%;
        max-width: 100%;
    }

    .book-btn-box {
        display: flex;
        justify-content: center;
        padding-top: 24px;
    }
}

@media screen and (max-width: 767px) {
    .picker {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .package-type {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .data-type {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 10px 0px;
    }

    .top-btn {
        margin: 0px;
        padding: 0px 50px;
    }

    .info {
        justify-content: center;
    }

    .arrive-info {
        margin-left: 20px;
        margin-top: 10px;
    }

    .title h3 {
        text-align: center;
        margin-left: 0px;
    }

    .enter-area-content h1 {
        font-size: 32px;
        line-height: 31px;
    }

    .home-tabs li a {
        height: 45px;
    }

    .home-tabs .nav-link.active {
        height: 55px;
    }

    .home-tabs li a {
        width: 165px;
    }

    .home-tab-content {
        transform: translateY(-55px);
    }

    .home-tabs {
        transform: translateY(-54px);
    }

    .fly-box {
        flex-wrap: wrap;
        flex: 0 0 70%;
    }

    .book-area-btn-box {
        justify-content: center;
        margin-top: 20px;
    }

    .book-area-title h3 {
        font-size: 24px;
    }

    .info-left-img {
        padding: 71px 30px;
    }

    .city-galery-content {
        margin-top: 25px;
    }

    .review-btn-box, .card-body-header-review {
        display: flex;
        justify-content: center !important;
    }

    .user {
        display: flex;
        justify-content: center;
    }

    .offer-title h3 {
        font-size: 15px;
    }

    .book-area-bottom .offer-price {
        flex-direction: row;
    }

    .book-area-bottom .bottom-box {
        padding-right: 0px;
    }

    .sign-box-wth {
        flex: 0 0 65%;
    }

}

@media screen and (max-width: 576px) {
    .book-right-box-bg {
        top: 111px;
    }

    .offer-title {
        justify-content: center;
        display: flex;
    }

    .book-btn-box {
        padding-top: 35px;
    }

    .book-area-left-box .offer-price {
        margin-top: 10px;
    }

    .sign-box-wth {
        flex: 0 0 80%;
    }
}

@media screen and (max-width: 585px) {
    .enter-area-content h1 {
        font-size: 24px;
        line-height: 26px;
    }

    .form-box {
        flex-direction: column;
        padding: 5px;
    }

    .search-area-box form {
        min-width: 420px;
    }

    .bottom-btn {
        justify-content: center;
        width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 575px) {
    .box-content {
        text-align: center;
    }


                      .nav{
                          margin-bottom: 1px;
                      }
}

@media screen and (max-width: 455px) {
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 20px 35px 0px;
    }

    .select2-container .select2-selection--single {
        height: 50px;
    }

    .field label {
        font-size: 10px;

    }

    .field label i {
        font-size: 12px;
    }

    .select2-container .select2-selection--single {
        font-size: 10px;
    }

    .fordatepicker .field input {
        height: 50px;
        padding: 20px 0 0px 35px;
        font-size: 10px;
    }

    .top-btn {
        height: 50px;
    }

    .home-tabs li a {
        width: 140px;
    }

}

@media screen and (max-width: 503px) {
    .info {
        flex-wrap: wrap;
    }

    .fly-box {
        flex: 0 0 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .info-left-img {
        width: 100%;
        border-bottom: 0px;
        padding: 20px 0px;
        justify-content: center;
        display: flex;
    }

    .info-left-img img {
        width: 54px;
        height: 54px;
        display: inline-block;
    }

    .owl-dots button span {
        width: 20px;
    }

    .search-area-box form {
        min-width: 260px;
    }

    .sign-box-wth {
        flex: 0 0 90%;
    }

    .sign-form form {
        padding: 30px 15px;
    }

    .fly-info {
        border-bottom: 1px solid;
    }

    .fly-info p, .arrive-info p {
        text-align:center
    }

    .fly-wr {
        margin:0;
    }

    .right-all-box .rigt-box-btn {
        text-align:center;
    }

    .review-form-holder .sign-btn-box {
        /* justify-content: center !important; */
        align-items: center !important;
    }
}

@media screen and (max-width: 375px) {
    .offer-price .price-text {
        font-size: 12px;
    }

    .book-area-left-box .right-box-bottom p {
        font-size: 18px;
    }

    .book-area-title h3 {
        font-size: 14px;
    }

    .book-area-box {
        padding: 60px 30px;
    }

    .city-galery-content h3 {
        font-size: 14px;
    }

    .city-info-area-box .tab-content {
        padding: 15px;
    }

    .search-area-content h3 {
        font-size: 18px;
    }

    .sign-form form {
        padding: 30px 10px;
    }

    .sign-box-wth {
        flex: 0 0 90%;
    }

    .title-step {
        margin-top: 10px;
    }

    .dropdown-box .card-body.review-form-holder {
        padding: 0;
    }
}
