@font-face {
font-family: "Poppins Medium"; 
src: url("../fonts/Poppins-Medium.ttf") format("truetype"); 
} 
@font-face {
font-family: "Poppins SemiBold"; 
src: url("../fonts/Poppins-SemiBold.ttf") format("truetype"); 
} 
@font-face {
font-family: "Poppins"; 
src: url("../fonts/Poppins-Regular.ttf") format("truetype"); 
} 
