/*SETTINGS*/
* {
	font-family: "Poppins";
	font-style:normal;
	letter-spacing: normal;
	line-height: normal;
}
img	{
	width: 100%;
}
p {
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6 {
	color: #112a51;
	font-family: Poppins;
	font-style: normal;
	margin-bottom: 0px;
}
a:hover {
	text-decoration: none;
}
p {
	color: #5e6878;
	font-family: Poppins;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
ul {
	list-style: none;
	padding: 0px;
}

/*.primary-color {
	background-color: #112a51;
	}*/
	.warning-color {
		background-color: #eeb51d;
	}
	/*.home-main {*/
	/*	background-color: */
	/*}*/
	input {
		font-family: 'Poppins', FontAwesome, sans-serif ;
	}
	.add-item .price-box {
		padding:36px 10px;
	}
	.add-item .price-box__content {
		margin-left: 14px;
	}
	.add-item .price {
		font-size: 35px;
	}
	.btn {
		font-family: "Poppins SemiBold";
		background-color: #eeb51d;
		color: #fff;
		border-radius: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s all;
	}
	.btn:focus {
		outline: 0;
		box-shadow:none;
	}
	.btn:hover {
		background-color: transparent;
		color: #eeb51d;
		border-color: #eeb51d;
	}
	/*/END SETTINGS*/

	/*HEADER*/
	.header {
		position: relative;
	}
	.home-header {
		height: 354px;
	}
	.logo {
		z-index: 9999;
	}
	.banner img {
		position: absolute;
		z-index: -9999;
		height: 100%;
		width: 100%;
	}
	.home-header .banner img:nth-child(2) {
		display: none;
	}
	.header-top {
		padding-top: 10px;
	}
	.banner.package-banner.md, .banner.quote-banner.md {
		display: none;
	}
	.btn-quote {
		width: 194px;
		height: 60px;
		color: #ffffff;
		font-size: 20px;
		font-weight: 400;
		line-height: 65px;
		text-align: center;
		letter-spacing: -0.4px;
		z-index: 9999;
	}
	.banner-title {
		font-family: "Poppins SemiBold";
		font-size: 52px;
		font-weight: 700;
		letter-spacing: -1.04px;
		line-height: normal;
		transform: translateY(-52px);
	}
	.banner-title span {
		color: #112a51;
		font-size: 29px;
		font-weight: 500;
		font-style: normal;
		font-family: "Poppins Medium";
		letter-spacing: -0.58px;
		line-height: normal;
	}
	.banner-tab {
		/*background-color: transparent;*/
	}
	.banner-tab .nav-tabs {
		border:none;
		transform: translateY(-110px);
	}
	.banner-tab .nav-tabs .nav-item {
		color: #ffffff;
		font-family: "Poppins SemiBold";
		font-size: 21px;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: -0.42px;
		line-height: normal;
		padding: 14px 21px;
		height: 48px;
		background: transparent;
		position: relative;
		display: inline-block;
		border: none;
		border-radius: 0px;
		margin-right: 4px;
	}
	.banner-tab .nav-tabs .nav-item img {
		margin-right: 10px;
	}

	.banner-tab .nav-tabs .nav-item::before {
		content:'';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		opacity: 0.4;
	}
	.banner-tab .nav-tabs .nav-item.active::before {
		content:'';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 0;
		height: 0;
		background-color: #ffffff;
		opacity: 0.4;
	}
	.banner-tab .nav-tabs .nav-item.active {
		background-color: #ffffff;
		color: #eeb51d;
		padding: 18px 21px;
		height: 52px;

	}
	.banner-tab .tab-content .tab-pane__content-search-form {
		box-shadow: 0 53px 51px rgba(17, 42, 81, 0.08);
		background-color: #ffffff;
		transform: translateY(-110px);

	}
	.banner-tab .tab-content .tab-pane {
		/*height: 112px;*/
	}
	.tab-pane.active .tab-pane__content-search-form {
		display: flex;
		justify-content: space-between;
	}
	.banner-tab .tab-content .tab-pane .tab-pane__content {
		padding: 33px 29px;
		position: relative;
		flex: 1;
	}
	.tab-pane__content-middle::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 1px;
		background: #112a51;
		opacity: 0.15;

	}
	.tab-pane__content-middle::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 1px;
		background: #112a51;
		opacity: 0.15;

	}
	.banner-tab .tab-content .tab-pane .tab-pane__content p {
		opacity: 0.6;
		color: #112a51;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 14px;
	}

	.selectpicker__box .btn  {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.selectpicker__box .bootstrap-select .dropdown-toggle:focus {
		outline: none!important;
		outline-offset: 0;
		box-shadow: none;
	}
	.selectpicker__box .show>.btn-light.dropdown-toggle {
		background-color: transparent;
		border-color: transparent;
	}
	.selectpicker__box .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
		color: transparent;
	}
	.selectpicker__box .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
		background-color: transparent;
		border-color: transparent;
	}
	.selectpicker__box .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
		box-shadow: 0 0 0 0rem rgba(216,217,219,.5);
	}

	.selectpicker__box .dropdown-toggle::after {
		background-image: url('../images/Shape_510.png');
		border: none;
		background-size: 100%;
		width: 10px;
		height: 10px;
		background-repeat: no-repeat;
	}
	.selectpicker__box .dropdown {
		width: 100%!important;
	}
	.selectpicker__box .filter-option-inner-inner {
		color: #000000;
		font-family: Poppins;
		font-size: 21px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		line-height: normal;
	}
	.btn-search {
		font-size: 23px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		width: 184px;
		border-radius: 0px;
	}
	.btn-search i {
		font-size: 30px;
		margin-right: 5px;
	}
	/*END HAEADER*/

	/*BOOK AREA*/
	.book-area {
		padding: 182px 0px 96px;
	}
	.book-area__box-title {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: -0.96px;
		line-height: normal;
		margin-bottom: 56px;
	}
	.book-area__image img {
		transition: .3s all;
	}
	.book-area__image img:hover {
		transform: scale(1.1);
	}
	.book-area__box-text {
		font-size: 18px;
		margin-bottom: 62px;

	}
	.btn-book {
		height: 67px;
		width: 206px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
	}
	.logo-list {
		display: flex;
		margin-top: 106px;
		list-style: none;
		justify-content: space-between;
		padding: 0px;
	}
	.logo-list .logo-list__item img {
		filter: grayscale(100%);
	}
	.logo-list .logo-list__item-enable img {
		filter: grayscale(0%);
	}

	.logo-list__item, .logo-list__item-enable {
		display: flex!important;
		justify-content: center;
		align-items: center;
	}
	.logo-list__item:nth-child(2) {
		padding-left: 50px;
	}
	/*END BOOK AREA*/

	/*TRAVEL AREA*/
	.travel-area {
		padding: 117px 0px 122px;
		background-color: #f8fafc;
	}
	.owl-nav button span {
		display: none!important;
	}
	.owl-carousel-travel .owl-nav {
		display: none;
	}
	.owl-carousel .owl-nav .owl-prev:before {
		font-family: 'fontAwesome';
		content: "\f053";
		margin-right:10px;
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		left: -40px;
		font-size: 23px;
		color: #152b51;
	}
	.owl-carousel .owl-nav .owl-next:after{
		font-family: 'fontAwesome';
		content: "\f054";
		margin-right:10px;
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		right: -40px;
		font-size: 23px;
		color: #152b51;
	}
	.owl-carousel-galery .owl-stage {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%!important;
	}
	.owl-carousel-galery .owl-nav  {
		display: none;
	}
	.owl-next.disabled.owl-next:after, .owl-prev.disabled.owl-prev:before  {
		color: #afc1d0;
	}
	.travel-area__box {
		height: 376px;
		transition: 0.5s all;
	}
	.travel-area__box:hover {
		transform: translateY(-25px);
	}
	.area__title {
		font-size: 55px;
		font-weight: 700;
		letter-spacing: -1.1px;
		line-height: normal;
		text-align: center;
	}
	.travel-area__box {
		padding: 34px 53px 53px;
		margin-top: 44px;
		box-shadow: 0 19px 54px rgba(17, 42, 81, 0.09);
		background-color: #ffffff;
	}
	.owl-carousel-travel .owl-stage-outer{
		overflow: visible;
	}

	.travel-area__box-title {
		font-size: 30px;
		letter-spacing: -0.6px;
		margin: 29px 0px;
	}
	.travel-area__box-text {
		font-size: 18px;
	}
	/*END TRAVEL AREA*/

	/*WOKRS AREA*/
	.works-area {
		padding: 114px 0px 91px;
	}
	.works-area__block-title {
		font-family: "Poppins SemiBold";
		font-size: 35px;
		letter-spacing: -0.7px;
		display: flex;
		align-items: center;
		margin-bottom: 26px;
	}
	.works-area__block .row {
		position: relative;
	}
	.works-area__block-thumbnail img {
		transition: 0.3s all;
	}
	.works-area__block .row:hover .works-area__block-thumbnail img {
		transform: scale(1.1);
	}
	.works-area__block-title span {
		width: 45px;
		height: 45px;
		background-color: #eeb51d;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		color: #112a51;
		font-family: "Poppins SemiBold";
		font-size: 25px;
		font-weight: 400;
		margin-right: 21px;
	}
	.works-area__block-text {
		font-size: 19px;
		font-weight: 400;
		letter-spacing: 0.38px;
	}
	.works-area__block-content-middle .works-area__block-title span {
		margin-left: 21px;
	}
	.works-area__block-doted img {
		position: absolute;
		bottom: -94px;
		width: 643px;
		left: 185px;
	}
	.middle-row .works-area__block-doted img {
		bottom: -76px;
		width: 665px;
		left: 479px;
		transform: scaleY(1.5);
	}
	.works-area__block-doted img:nth-child(2) {
		display: none;
	}
	/*END WORKS AREA*/

	/*PACKAGES AREA*/
	.packages-area {
		padding: 117px 0px 91px;
		background-color: #f8fafc;
	}
	.packages-area__title {
		margin-bottom: 52px;
	}
	.packages-area__block {
		border: 1px solid #d9dde3;
		background-color: #ffffff;
		margin-bottom: 29px;
	}
	.packages-area__block-header {
		transition: .3s all;
	}
	.packages-area__block:hover .packages-area__block-header  {
		background-color: #112a51;
	}
	.packages-area__block-header h5 {
		font-size: 30px;
		letter-spacing: -0.6px;
		font-weight: 700;
		transition: .3s all;
	}
	.packages-area__block:hover .packages-area__block-header h5 {
		color: #fff;
	}
	.packages-area__block-header p {
		color: #eeb51d;
		font-size: 24px;
		letter-spacing: -0.48px;
		font-weight: 700;
		background-image: url(../images/Rectangle_654.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		padding: 8px 22px;
	}
	.packages-area__block-header {
		border-bottom: 1px solid #d9dde3;
		padding: 25px 0px;
		padding-left: 39px;
		padding-right: 33px;
	}
	.info-flying img {
		width: 78px;
		height: 78px;
	}
	.info-flying__date img {
		width: 15px;
		height: 17px;
	}
	.date {
		color: #63748e;
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.32px;
		margin-left: 5px;
		margin-top: 3px;
	}
	.flying__image-box {
		position: relative;
	}
	.info-flying__box {
		margin-left: 47px;
	}
	.flying__image {
		width: 26px;
		height: 26px;
		background-color: #eeb51d;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0 25px;
		z-index: 9999;
	}
	.flying__image img {
		width: 15px;
		height: 13px;
	}
	.flying__image-dote::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		background-image: url(../images/bg-dote.png);
		width: 58px;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		transform: translate(-50%, -50%);
	}
	.border-box-info {
		position: relative;
	}
	.border-box-info {
		padding-right: 40px;
		border-right: 1px solid #cfd4dc;
	}
	.packages-block__box {
		padding: 30px;
	}
	.info-flying__city h5 {
		font-family: "Poppins SemiBold";
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 0px;
	}
	.post-box {
		margin-top: 31px;
	}
	.post-image {
		position: relative;
	}
	.post-image img {
		width: 160px;
		height: 164px;
		transition: .3s all;
	}
	.post-image__lenta {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 49px;
		height: 21px;
		background-color: #eeb51d;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-family: "Poppins SemiBold";
		font-size: 13px;
		font-weight: 400;
		font-style: normal;
	}
	.post-content {
		padding-left: 24px;
	}
	.post-content__title {
		font-family: "Poppins SemiBold";
		font-size: 21px;
		font-weight: 700;
		width: 85%;
	}
	.stars {
		margin:16px 0px 21px;
		color: #ff8400;
	}
	.disable-star {
		color: #000;
		opacity: 0.1;
	}
	.post-content__text span {
		margin-right: 5px;
		margin-bottom: 2px;
	}
	.post-content__text {
		font-size: 15px;
		font-weight: 300;
	}
	.read-box {
		border-left: 1px solid #d9dde3;
		background-color: #f6f9fb;
		padding: 33px;
		display: flex;
	}
	.read-box .read-box__header   {
		flex: 1;
		align-items: center;
	}

	.reviews {
		margin-right: 5px;
	}
	.reviews h6 {
		font-family: "Poppins SemiBold";
		font-size: 17px;
		font-weight: 600;
		text-align: right;
	}
	.reviews span {
		/*font-family: ""*/
		letter-spacing: -0.28px;
		font-size: 14px;
		color: #576a8c;
		font-weight: 400;
	}
	.review-ball {
		width: 37px;
		height: 40px;
		background-color: #112a51;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #eeb51d;
		font-family: "D - DIN";
		font-size: 26px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: -0.52px;
	}

	.read-box__price span {
		font-family: "Poppins SemiBold";
		color: #687487;
		font-size: 24px;
		font-weight: 500;
		margin-top: 20px;
		flex: 1;
	}
	.read-box__price h3 {
		font-family: "Poppins SemiBold";
		font-size: 65px;
		font-weight: 600;
	}
	.btn-read-more {
		height: 67px;
	}
	.btn-load-more {
		margin-top: 16px;
		width: 221px;
		height: 67px;
		border: 1px solid #d9dde3;
		background-color: #ffffff;
		color: #eeb51d;
		font-size: 21px;
		font-weight: 400;
	}
	.btn-load-more:hover {
		color: #eeb51d;
	}

	/*END PACKAGES AREA*/

	/*FOOTER*/
	.footer {
		padding: 84px 0px 64px;
		background-color: #112a51;
	}
	.footer-logo img {
		width: 242px;
		height: 143px;
	}
	.foot-navs__header {
		color: #ffffff;
		font-size: 23px;
		font-weight: 700;
		letter-spacing: 0.23px;
		margin-bottom: 18px;
	}
	.footer-nav .navbar-nav .nav-item .nav-link{
		color: #aeb9cb;
		font-size: 19px;
		font-weight: 400;
		letter-spacing: 0.19px;
		padding: 0px;
		margin: 10px 0px;
	}
	.subscribe_email {
		width: 525px;
		height: 68px;
		background-color: #ffffff;
		border:none;
		padding-left: 55px;
		outline: none;
	}
	.btn-subscribe {
		width: 228px;
		height: 68px;
		font-size: 21px;
		font-weight: 400;
		margin-top: 10px;
	}
	.btn-subscribe_placeholder {
		position: relative;
		display: inline;
	}
	.btn-subscribe_placeholder span {
		position: absolute;
		top: 48%;
		left: 29px;
		transform: translateY(-50%);
		display: none;
		color: #a0aab9;
		font-size: 21px;
	}
	.empty span {
		display: block;
	}
	.subscribe_email::placeholder {
		opacity: 0.7;
		color: #112a51;
		font-size: 19px;
		font-weight: 400;
		padding-left: 5px;
	}
	.footer-end__text-box .footer-end__text {
		color: #aeb9cb;
		font-size: 19px;
		font-weight: 400;
		margin-right: 21px;
	}
	.footer-end__text-box .footer-end__text span {
		font-family: "Poppins SemiBold";
		color: #ffffff;
		font-weight: 700;
	}
	.footer-end {
		padding-top: 65px;
		border-top: 1px solid #415574;
	}
	.footer-list__box {
		padding-bottom: 89px;
	}
	.footer-end__text-br {
		position: relative;
		padding-left: 21px;
	}
	.footer-end__text-br::before {
		content: '';
		position: absolute;
		top: 3px;
		left: 0px;
		background-color: #3e5983;
		height: 15px;
		width: 1px;
	}
	.socials-icon a {
		width: 53px;
		height: 53px;
		background-color: #2d466e;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 18px;
		color: #fff;
		font-size: 25px;
	}
	.footer-nav-cols li:nth-child(odd){
		margin-top: -10px!important;
	}
	.footer-nav-cols li:nth-child(1) {
		margin-top: 0px;
	}
	/*END FOOTER*/




	/*QUOTE PAGE*/
	.quote-header, .package-header {
		height: 354px;
	}
	.request-area {
		background-color: #f9fafc;
		padding-top: 99px;
		padding-bottom: 101px;
	}

	.collapse-block {
		max-width: 828px;
	}
	.sidebar-block {
		max-width: 389px;
		margin-left: 100px;
	}
	.sidebar-block img {
		width: 389px;
		transition: .3s all;
	}
	.sidebar-block img:hover {
		transform: scale(1.1);
	}
	.panel-heading {
		padding: 0;
		border:0;
		background-color: #ffffff;
	}
	.request-area__collapse .panel-title>a, .panel-title>a:active{
		display:block;
		padding:26px 53px;
		color: #112a51;
		font-size: 30px;
		font-weight: 700;
		text-transform:uppercase;
		letter-spacing:1px;
		word-spacing:3px;
		text-decoration:none;
	}
	.request-area__collapse .panel-heading a:before {
		font-family:Fontawesome;
		content:"\f105";
		float: right;
		transition: all 0.5s;
		color: #eeb51d;
	}
	.request-area__collapse .panel-heading.active a:before {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
		color: #112a51;
	}

	.panel-heading {
		background: #fff;

	}
	.request-area__collapse .panel {
		box-shadow: 0 13px 38px rgba(17, 42, 81, 0.04);
		background-color: #ffffff;
		margin-bottom: 30px;
	}
	.request-area__collapse .panel-body {
		padding: 0px 20px 20px;
	}
	.contact-form {
		background-color: #f9fafc;
		padding: 50px 47px 17px;
	}
	.contact-form_box {
		margin-bottom: 30px
	}

	.contact-form_box .form-control {
		height: 67px;
		box-shadow: 0 4px 8px rgba(17, 42, 81, 0.04);
		border: 1px solid #ecf0f5;
		background-color: #ffffff;
		color: #7c8aa1;
		font-size: 19px;
		font-weight: 400;
		padding-left: 24px;
	}
	.contact-form_box .form-control::placeholder {
		font-size: 16px;
	}
	.form-control:focus {
		border: 1px solid #112a51;
		color: #112a51;
	}
	.contact-form_box label {
		color: #112a51;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 11px;
		margin-left: 2px;
		position: relative;
	}
	.contact-form_box label::after {
		content: '*';
		position: absolute;
		right: -10px;
		top: 0px;
		color: #eeb51d;
	}
	.back-btn {
		font-family: "Poppins SemiBold";
		color: #112a51;
		font-size: 21px;
		font-weight: 400;
		background:transparent;
		border:none;
	}
	.back-btn img {
		margin-right: 8px;
	}
	.collapse__number {
		display: inline-block;
		width: 47px;
		height: 47px;
		background-color: #eeb51d;
		padding:6px;
		text-align: center;
		margin-right: 25px;
		border-radius: 50%;
		color: #112a51;
		font-size: 25px;
		font-weight: 500;

	}
	.side_bar_item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 32px 0px 23px;
	}
	.side_bar-icon {
		width: 128px;
		height: 128px;
		background-color: #f8f3e6;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: #eeb51d;
	}
	.side_bar-icon img {
		width: 67px;
		height: 41px;
		transition: .3s all;
	}
	.side_bar_item:hover .side_bar-icon img {
			transform: scale(1.2);
	}
	.side_bar_title {
		text-align: center;
		color: #112a51;
		font-size: 30px;
		font-weight: 700;
		margin-top: 46px;
	}
	.side_bar_item-text {
		text-align: center;
		color: #7c8aa1;
		font-size: 16px;
		font-weight: 400;
		margin-top: 18px;
	}
	.side_bar_item-text a {
		color: #eeb51d;
		font-size: 21px;
		font-weight: 500;
		display: block;
	}
	.side_bar-icon.tel_icon {
		background-color: #edf0f3;
	}
	.side_bar-icon.tel_icon img {
		width: 90px;
		height: 88px;
	}
	.side_bar_item-text.tel_number a {
		color: #112a51;
		font-weight: 700;
	}
	.package_book-area {
		background-color: #f9fafc;
		padding: 61px 0px;
	}

	/* QUOTE PAGE END*/

	/* PACKAGES AREA */
	.price-block {
		margin-top: 30px;
		margin-bottom: 47px;
	}
	.price-box {
		padding: 36px 62px;
		background-color: #f1f6fa;
		transition: .3s all;
	}
	.price-box:hover {
		transform: scale(1.1);
	}
	.price-box__content {
		margin-left: 26px;
	}
	.price-box__content-title {
		font-family: "Poppins SemiBold";
		font-size: 21px;
		font-weight: 400;
		margin: 14px 0px 6px;
	}
	.price {
		font-family: "Poppins SemiBold";
		font-size: 55px;
		font-weight: 400;
	}
	.price-box__content-per {
		color: #687487;
		font-size: 17px;
		font-weight: 500;
	}
	.price-box__thumbnail img {
		width: 84px;
		height: 84px;
	}
	.info_text {
		font-family: "Poppins Medium";
		color: #112a51;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 44px;
	}
	.info_text span {
		font-family: "Poppins SemiBold";
		color: #eeb51d;
		font-weight: 700;
	}
	.cart-block {
		margin-bottom: 37px;
	}

	.cart-block_item {
		border: 1px solid #d9dde3;
		background-color: #fefefe;
		padding: 26px 0px 26px 21px;
		width: 275px;
		position: relative;
		transition: .3s all;
	}
	.cart-block_item:hover {
		transform: scale(1.1);
	}
	.cart-block_item-text {
		font-family: "Poppins SemiBold";
		margin-left: 18px;
		color: #000000;
		font-size: 21px;
		font-weight: 400;
		width: 70%;
	}
	.cart-block_item {
		margin-bottom: 35px;
	}
	.cart-block__box.selecting {
		justify-content: center;
	}
	.cart-block__box .cart-block_item:nth-child(odd) {
		margin-right: 35px;
	}
	.cart-block__box.selecting .cart-block_item:nth-child(odd) {
		width: 237px;
	}
	.cart-block__box.selecting .cart-block_item:nth-child(even) {
		width: 313px;
	}
	.cart-block__box.selecting .cart-block_item {
		padding-top:18px;
		padding-bottom:18px;
		margin-bottom: 20px;
	}
	.cart-block__box.selecting .cart-block_item-text {
		font-size: 21px;
		font-weight: 400;
		color: #a4abb7;
		width: auto;
	}
	.cart-block__box.selecting .cart-block_item.active::after {
		content: '';
		position: absolute;
		top: -10px;
		right: -10px;
		width: 27px;
		height: 27px;
		box-shadow: 0 3px 21px rgba(238, 181, 29, 0.35);
		background-color: #eeb51d;
		border-radius: 50%;
		background-image: url('../images/Layer_280903.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	.cart-block__box.selecting .cart-block_item.active .cart-block_item-text{
		color: #112a51;
	}
	.flight-info__block h3 {
		font-family: "Poppins SemiBold";
		font-size: 26px;
		font-weight: 400;
	}
	.flight-info__block-box {
		margin:25px 0 71px;
		box-shadow: 0 19px 54px rgba(17, 42, 81, 0.09);
		padding: 0;
		max-width: 612px;

	}
	.flight-info__block-box .packages-block__box-info {
		background-color: #ffffff;
		padding: 43px 30px 16px 33px;
		border: 1px solid #e9eaeb;
		transition: 0.3s all;
	}
	.flight-info__block-box:hover .packages-block__box-info {
		background-color: #f1f6fa;
	}
	.flight-info__block-box .info-flying {
		border-right: 1px solid #e7eaee;
		padding-right: 35px;
		flex: 1 1 40%;
	}
	.flight-info__block-box .info-flying img {
		width: 91px;
		height: 91px;
	}
	.flight-info__block-box .info-flying h5 {
		font-family: "Poppins SemiBold";
		font-size: 18px;
		font-weight: 400;
		margin-top: 10px;
	}
	.flight-info__block-box .flying__image-dote::before {
		background-image: url('../images/tall.png');
		width: 100%;
	}
	.flight-info__block-box .info-flying__city h5 {
		font-size: 32px;
		font-weight: 400;
	}
	.flight-info__block-box .info-flying__city p {
		color: #687487;
		font-size: 18px;
		font-weight: 400;
		width: 22%;
	}
	.flight-info__block-box .flying__image {
		width: 31px;
		height: 31px;
		margin: 0px 64px;
	}
	.flying__time {
		font-family: "Poppins SemiBold";
		color: #112a51;
		font-size: 17px;
		font-weight: 400;
		margin: 0px 57px 0px 46px;
	}
	.flight-info__block-box .info-flying__box {
		margin-left: 37px;
	}
	.flight-info__date {
		background-color: #f1f6fa;
		padding: 22px 0px 16px;
		border: 1px solid #e9eaeb;
		border-top: 0px;
	}
	.flight-info__date p {
		color: #112a51;
		font-size: 23px;
		font-weight: 500;
	}
	.galery {
		margin: 0px 0px 32px;
	}
	.galery .last-thumbnail {
		position: relative;
	}
	.last-thumbnail a::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		background-color: #112a51d4;
	}
	.show-more-galery {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.show-more-galery img {
		width: auto;
	}
	.show-more-galery span {
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		margin-top: 13px;
	}
	.galery .first-thumbnail img {
		height: 100%;
		width: 384px;
	}
	.galery-content__title-city {
		font-family: "Poppins SemiBold";
		padding: 14px 23px;
		border: 2px solid #112a51;
		background-color: #f9fcfe;
		letter-spacing: 5.25px;
	}
	.galery-content__title-city span {
		margin-right: 13px;
	}
	.galery-content .stars i {
		font-size: 28px;
		margin-right: 16px;
	}
	.galery-content .stars i:last-child {
		margin-right: 0px;
	}
	.galery-content_title {
		font-size: 35px;
		font-weight: 700;
		margin-top: 35px;
	}
	.galery-content_text {
		margin: 29px 0px 34px;
		color: #5e6878;
		font-size: 18px;
		font-weight: 400;
	}
	.aminities-list-box h5 {
		font-family: "Poppins SemiBold";
		font-size: 26px;
		font-weight: 400;
		margin-bottom: 29px;
	}
	.aminities-list {
		display: flex;
		flex-wrap: wrap;
	}
	.aminities-list_item {
		display: flex;
		color: #112a51;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 20px;
		width: 300px;
	}
	.aminities-list_item img {
		width: 25px;
	}
	.aminities-list_item span {
		margin-right: 13px
	}
	.galery-block {
		margin-bottom: 90px;
		max-width: 612px;
		padding: 0px;
	}
	.aminities-list_left {
		margin-right: 59px;
	}
	.travel-info_block {
		margin-bottom: 150px;
		border: 1px solid #d9dde3;
	}
	.travel-info_block-reviews-box {
		width: 331px;
		border-right: 1px solid #d9dde3;
		background-color: #f6f9fb;
		padding: 29px;
	}
	.travel-info_block-reviews-box_head {
		border-bottom: 1px solid #dde0e2;
		padding-bottom: 40px;
	}
	.travel-info_block-reviews-box_head h6 {
		border-right: 1px solid #dde0e2;
		margin-left: 15px;
		padding-right: 6px;
		font-size: 21px;
		font-weight: 600;
	}
	.travel-info_block-reviews-box_head span {
		padding-left: 6px;
		font-weight: 400;
		font-size: 16px;
		color: #576a8c;
	}

	.travel-info_block-reviews-box_body {
		padding-top: 84px;
		padding-bottom: 71px;
	}
	.travel-info_block-content-bottom-item {
		margin-right: 71px;
	}
	.travel-info_block-content-bottom h5 {
		margin: 0px 8px 0px 13px;
		font-size: 22px;
		font-weight: 500;
	}
	.travel-info_block-content {
		padding: 48px 53px 43px 45px;
	}
	.travel-info_block-content-text {
		margin: 38px 0px 27px;
		color: #5e6878;
		font-size: 18px;
		font-weight: 400;
	}
	.travel-info_block-content-title {
		font-size: 30px;
		font-weight: 700;
	}
	.packages-acardion .card {
		border:none;
		border-top:1px solid #d9dde3;
	}
	.write-review-accardion .card {
		border:none;
	}
	.btn-write-review {
		width: 194px;
		height: 60px;
	}
	.write-reviews-counter p {
		font-size: 66px;
		line-height: 79px;
		font-weight: bold;
		color: #eeb51d;
		margin-right: 14px;
	}
	.write-reviews-counter .write-reviews-counter-text span {
		display: block;
	}
	.write-review-block-body {
		border-top: 1px solid #d9dde3;
	}
	.contact-form-review {
		width: 100%;
	}
	.packages-acardion .card-header {
		background-color: #fff;
		padding: 26px 0px 23px;
	}
	.packages-acardion .card-header h2 {
		display: flex;
		justify-content: center;
		/*pad*/
	}
	.packages-acardion .btn-link {
		font-family: "Poppins SemiBold";
		background-color: transparent;
		color: #112a51;
		font-size: 19px;
		font-weight: 400;
	}
	.packages-acardion .btn-link img {
		width: 17px;
		height: 10px;
		margin-left: 9px;
		transform: rotate(180deg);
	}
	.packages-acardion .btn-link.collapsed img {
		transform: rotate(0deg);
	}
	.packages-acardion .card-body {
		padding: 41px 50px;
	}
	.card-body-items {
		text-align: center;
	}
	.card-body-items-thumbnail img {
		width: auto;
	}

	.card-body-items-box .card-body-items:nth-child(2) {
		border-right: 1px solid #d9dde3;
		border-left: 1px solid #d9dde3;
		padding: 0px 100px;
	}
	.card-body-items-box .card-body-items:nth-child(1) {
		padding-right: 60px;
	}
	.card-body-items:nth-child(1) .item-bottom img {
		height: 20px;
	}
	.card-body-items:nth-child(1) .item-bottom span {
		margin-left: 8px;
	}
	.card-body-items p {
		margin-top: 27px;
		color: #636363;
		font-size: 18px;
		font-weight: 300;
	}
	.card-body-items span {
		color: #636363;
		font-size: 18px;
		font-weight: 700;
	}
	/* PACKAGES AREA END */

	/*MEDIA*/
	@media (min-width: 1367px) {
		.container {
			max-width: 1300px;
			padding: 0px;
		}
	}
	@media (max-width: 1366px) {
	/*.packages-block__box .d-flex {
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.info-flying__box {
		margin-left: 20px;
		}*/
		.read-box__header {
			flex-direction: column;
			align-items: center;
		}
		.read-box__header img {
			width: 76px;
			height: 76px;
			margin-bottom: 10px;
		}
		.read-box__price h3 {
			font-size: 45px;
		}
		.reviews {
			margin-right: 45px;
		}
		.sidebar-block {
			margin-left: 40px;
			max-width: 300px;
		}
		.sidebar-block img {
			width: 100%;
		}
		.side_bar-icon img {
			width: auto;
		}
		.price-box {
			padding: 36px 30px;
		}
		.flight-info__block-box {
			max-width: 540px;
		}
		.flight-info__block-box .packages-block__box-info {
			padding: 43px 30px 16px 24px;
		}
		.flight-info__block-box .info-flying {
			padding-right: 18px;
		}
		.flight-info__block-box .info-flying__box {
			margin-left: 20px;
		}
		.galery-block-area {
			justify-content: center!important;
		}
		.travel-info_block-content-bottom-item {
			margin-right: 40px;
		}
		.travel-info_block-content {
			padding:48px 20px 43px 20px;
		}
		.card-body-items-box .card-body-items:nth-child(2) {
			padding: 0px 25px;
		}
		.card-body-items-box .card-body-items:nth-child(1){
			padding-right: 50px;
		}
		.cart-block__box {
			justify-content: space-between;
		}
		.cart-block__box .cart-block_item:nth-child(odd) {
			margin-right: 0px;
		}
		.cart-block__box.selecting .cart-block_item:nth-child(even) {
			width: 250px;
		}
		.cart-block_item {
			width: 250px;
		}
		.cart-block__box.selecting {
			justify-content: space-between;
		}
		.works-area__block-doted img:nth-child(1) {
			display: none;
		}
		.logo-list__item.logo-list__item-enable img {
			filter: grayscale(0%);
		}
		.galery-block:nth-child(1) {
			padding-right:20px;
		}
		.galery-block:nth-child(2) {
			padding-left: 20px;
		}
		.info-flying__city h5 {
			font-size: 20px;
		}

	}
	@media (max-width: 1200px) {
		.tab-pane.active .tab-pane__content-search-form {
			display: block;
		}
		.btn-search {
			width: 100%;
			background-position: center;
			background-position-x: 45%;
			height: 71px;
		}
		.book-area__box-title {
			font-size: 42px;
		}
		.travel-area__box {
			padding: 34px 25px 53px;
		}
		.works-area__block article:nth-child(2) {
			margin: 98px 0px;
		}

		.info-flying__city h5 {
			font-size: 18px;
		}
		.border-box-info {
			padding-right: 20px;
		}
		.info-flying__box {
			margin-left: 20px
		}
		.post-content__title {
			font-size: 17px;
		}
		.read-box__price h3 {
			font-size: 34px;
		}
		.read-box {
			padding: 33px 17px;
		}
		.post-box {
			padding: 0px;
		}
		.subscribe_email {
			width: 100%;
		}
		.request-area-box {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.sidebar-block {
			margin-top: 30px;
			max-width: 100%;
		}
		.sidebar-block img {
			width: 467px;
		}
		.side_bar-icon img {
			width: auto;
		}
		.collapse-block {
			width: 100%;
		}
		.request-area__collapse .panel-title>a, .panel-title>a:active {
			font-size: 25px;
		}
		.contact-form .row {
			flex-direction: column;
		}
		.contact-form_box {
			margin-bottom: 0px;
		}
		.contact-form_box .form-control {
			margin-bottom: 29px;
		}
		.panel-title a {
			position: relative;
			display: flex!important;
			align-items: center;
		}
		.request-area__collapse .panel-heading a:before {
			position: absolute;
			top: 35%;
			right: 57px;
		}
		.price-block {
			flex-direction: column;

		}
		.price-box {
			margin-bottom: 30px;
			justify-content: center;
		}
		.flight-info__block-area {
			justify-content: center!important;
		}
		.flight-info__block-box .packages-block__box-info {
			padding: 43px 30px 16px 33px;
		}
		.flight-info__block-box {
			max-width: 100%;
			flex: 0 0 100%;
		}
		.cart-block__box {
			justify-content: center;
		}
		.flight-info__block-box {
			max-width: 100%;
		}
		.galery-block {
			max-width: 100%;
			flex: 0 0 100%;
		}
		.galery .first-thumbnail img, .galery .first-thumbnail  {
			width: 100%;
			flex: 1 0 50%;
		}
		.travel-info_block-content-bottom {
			flex-direction: column;
		}
		.travel-info_block .travel-info_block-box {
			flex-direction: column;
		}
		.travel-info_block-reviews-box {
			width: 100%;
		}
		.travel-info_block-reviews-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.travel-info_block-reviews-box_head {
			border:none;
			padding: 0px;
		}
		.travel-info_block-reviews-box_body {
			padding: 0px;
		}
		.travel-info_block-content-bottom-item {
			margin-bottom: 28px;
		}
		.card-body {
			flex-wrap: wrap;
		}
		.card-body-items-box .card-body-items:nth-child(2) {
			border-right: 0px;
			padding: 0px 0px 0px 65px
		}
		.card-body-items.end {
			width: 100%;
			margin-top: 41px;
		}
		.card-body-items.end .d-flex {
			justify-content: center;
			align-items: center;
		}
		.card-body-items p {
			align-items: center;
		}
		.cart-block__box .cart-block_item:nth-child(odd) {
			margin-right: 0px;
		}
		.cart-block__box {
			justify-content: flex-start;
			max-width: 100%;
		}
		.card-body-items-box {
			width: 100%;
			justify-content: space-between;
		}
		.card-body-items-box .card-body-items:nth-child(2) {
			padding-left: 70px;
		}
		.cart-block__box.selecting .cart-block_item:nth-child(even) {
			width: 313px;
		}
		.cart-block_item {
			width: 45%;
		}
		.cart-block {
			flex-direction: column;
		}
		.cart-block__box .cart-block_item:nth-child(odd) {
			margin-right: 35px;
		}
		.logo-list__item img, .logo-list__item-enable  img {
			width: auto!important;
		}
		.logo-list__item , .logo-list__item-enable {
			display: flex!important;
			justify-content: center;
			align-items: center;
		}
		.galery-block:nth-child(1) {
			padding-right:0px;
		}
		.galery-block:nth-child(2) {
			padding-left: 0px;
		}
		.aminities-list_item:nth-child(1) {
			margin-right: 15px;
		}

	}
	@media (max-width: 992px) {
		.home-header .banner img:nth-child(1) {
			display: none;
		}
		.home-header .banner img:nth-child(2) {
			display: block;
		}
		.owl-item.active.center .logo-list__item img {
			filter: grayscale(0%);
		}
		.owl-carousel-travel .owl-nav {
			display: block;
		}
		.works-area__block-content-middle .works-area__block-title span {
			margin-left: 0px;
		}
		.works-area__block-text {
			margin-left: 69px;
		}
		.btn-search {
			background-position-x: 43%;
		}
		.post-content__title {
			font-size: 21px;
		}
		.packages-block__box .packages-block__box-chld {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.border-box-info {
			border-right: none;
			padding-right: 0px;
			border-bottom: 1px solid #cfd4dc;
			padding-bottom: 19px;
			padding-top: 0px;
		}
		.info-flying__box {
			margin-left: 0px;
		}
		.packages-block__box-hlp {
			align-items: center;
			justify-content: center;
		}
		.info-flying img {
			margin-right: 34px;
		}
		.info-flying__box {
			padding-top: 19px
		}
		.info-flying__city h5 {
			font-size: 24px;
		}
		.post-box {
			flex-direction: column;
		}
		.post-content {
			margin-top: 24px;
			padding: 0px 84px;
		}
		.read-box__header {
			flex-direction: row;
		}
		.read-box__price-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.read-box__price  {
			flex-direction: column;
			align-items: start!important;
		}
		.btn-read-more {
			width: 155px;
			height: 67px;
		}
		.read-box__price h3 {
			font-size: 65px;
		}
		.travel-area__box {
			box-shadow: none;
		}
		.works-area__block-thumbnail {
			text-align: center;
			margin-bottom: 22px;
		}
		.works-area__block-thumbnail img {
			height: 322px;
			width: 376px;
		}
		.footer-logo  {
			text-align: center;
		}
		.footer-logo a img {
			width: 222px;
			height: 131px
		}
		.footer-nav .navbar-nav {
			flex-direction: row;
			flex-wrap: wrap;
		}
		.footer-nav .navbar-nav {
			justify-content: space-between;
		}
		.foot-navs__header {
			margin-top: 30px;
		}
		.footer-end {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.footer-end__text-box {
			margin-bottom: 27px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.footer-end__text-box .footer-end__text {
			margin-right: 0px;
		}
		.footer-end__text-br {
			padding-left: 0px;
		}
		.footer-end__text-br::before {
			display: none;
		}
		.btn-subscribe {
			width: 100%;
		}
		.book-area__image {
			text-align: center;
		}
		.book-area__image img {
			width: 381px;
			height: 323px;
		}
		.book-area .row {
			flex-direction: column-reverse;
		}
		.book-area {
			padding-top: 0px;
		}
		.book-area__box-title {
			margin-top: 40px;
		}

		.logo-list__item:nth-child(2) {
			padding-left: 0px;
		}
		.cart-block__box {
			justify-content: space-between;
			margin-bottom: 57px;
		}
		.banner-title {
			transform: translateY(0px);
		}
		.owl-carousel-travel .owl-stage-outer{
			overflow: hidden;
		}
		.works-area__block-title.flex-row-reverse{
			flex-direction: row!important;
		}
		.owl-carousel-galery.owl-carousel .owl-nav .owl-prev:before, .owl-carousel-galery.owl-carousel .owl-nav .owl-next:after {
			top:38%;
		}
		.packages-acardion .card-body {
			padding: 41px 30px;
		}
	}
	@media (max-width: 900px) {
		.tab-pane__content-middle::before, .tab-pane__content-middle::after {
			display: none;
			position: relative;
		}
	}

	@media (max-width: 767px) {
		.post-content {
			padding: 0px 40px;
		}
		.post-content__title {
			width: 100%;
		}
		.aminities-list {
			flex-direction: column;
		}
		.flight-info__block-box .info-flying img {
			width: 63px;
			height: 63px;
		}
		.flight-info__block-box .info-flying__city h5 {
			font-size: 27px;
		}
		.flight-info__block-box .packages-block__box-info {
			padding: 29px 25px;
		}
		.cart-block_item  {
			max-width: 204px;
		}
		.cart-block_item-text, .cart-block__box.selecting .cart-block_item-text {
			font-size: 15px;
		}
		.cart-block_item-thumbnail img {
			width: 39px;
			height: 39px;
		}
		.cart-block__box.selecting .cart-block_item:nth-child(even) {
			max-width: 238px;
		}
		.cart-block__box.selecting .cart-block_item:nth-child(odd) {
			max-width: 180px;
		}
		.area__title {
			font-size: 40px;
		}
		.btn-book {
			width: 153px;
			height:55px;
		}
		.info_text {
			font-size: 21px;
		}
		.flight-info__block {
			font-size: 26px;
		}
		.galery-content__title-city {
			padding: 7px 20px;
			font-size: 21px;
		}
		.galery-content .stars i {
			font-size: 23px;
			margin-right: 12px;
		}
		.galery-content_title {
			font-size: 30px;
		}
		.travel-info_block-reviews-box_body img {
			width: 143px;
			height: 70px;
		}
		.review-hlp {
			flex-direction: column;
			margin-left: 14px;
		}
		.travel-info_block-reviews-box_head h6 {
			border-right: none;
		}
		.travel-info_block-reviews-box_body {
			position: relative;
		}
		.travel-info_block-reviews-box_body::after {
			content: '';
			position: absolute;
			top: 0;
			left: -60px;
			height: 100%;
			width: 1px;
			background-color: #dde0e2;
		}
		.card-body .card-body-items-box .card-body-items:nth-child(1) .card-body-items-thumbnail img{
			width: 104px;
			height: 67px;
		}
		.card-body .card-body-items-box .card-body-items:nth-child(2) .card-body-items-thumbnail img{
			width: 123px;
			height: 60px;
		}
		.card-body .card-body-items .card-body-items-thumbnail:nth-child(1) img{
			width: 143px;
			height: 68px;
		}
		.card-body-items-box .card-body-items:nth-child(2) {
			padding-left: 23px;
		}
		.card-body-items-box .card-body-items:nth-child(1) {
			padding-right: 29px;
		}
		.card-body-items p, .card-body-items span {
			font-size: 12px;
		}
		.card-body-items p {
			margin-top: 19px;
		}
		.card-body-items:nth-child(1) .item-bottom img {
			width: 87px;
			height: 14px;
		}
		.banner-title span {
			font-size: 22px;
		}
		.banner-title {
			font-size: 36px;
		}
		.btn-search {
			background-position-x: 40%;
		}
		.book-area__box-title {
			font-size: 30px;
			margin-bottom: 39px;
		}
		.book-area__box-btn .btn-book {
			width: 206px;
			height: 67px;
		}
		.book-area__box-text {
			margin-bottom: 39px;
		}
		.section .area-title {
			font-size: 45px;
		}
		.works-area__block-title {
			font-size: 28px;
			margin-bottom: 17px;
		}
		.works-area__block-content-middle .works-area__block-title span {
			margin-left: 0px;
		}

		.packages-area__block-header h5 {
			font-size: 25px;
		}
		.date {
			font-size: 14px;
		}
		.info-flying__city h5 {
			font-size: 19px;
		}
		.post-content .stars i {
			font-size: 18px;
		}
		.read-box {
			padding: 31px;
		}
		.read-box__header img {
			width: 66px;
			height: 66px;
		}
		.reviews {
			display: flex;
			margin-right: 10px;
		}
		.reviews h6 {
			padding-right: 10px;
			border-right: 1px solid #cad0d8;
		}
		.reviews span {
			padding-left: 10px;
		}
		.btn-read-more {
			width: 150px!important;
			height: 67px;
		}
		.foot-navs__header:last-child {
			text-align: center;
		}
		.foot-navs__header-subs {
			text-align: center;
		}
		.banner.package-banner.lg {
			display: none;
		}
		.banner.package-banner.md {
			display: inherit;
		}
		.quote-header, .package-header {
			height: 360px;
		}
		.package_book-area .btn-book {
			font-size: 19px;
		}
		.quote-banner.lg {
			display: none;
		}
		.banner.quote-banner.md {
			display: inherit;
			padding-top: 100px;
		}
		.quote-header .header-top	{
			left: 0;
			padding-top: 10px;
			position: absolute;
			width: 100%;
			top: 0px;
			padding: 20px 30px;
		}
		.contact-form {
			padding:40px 40px 17px;
		}

		.info-flying img {
			margin-right: 0px;
		}
		.packages-block__box-hlp {
			justify-content: space-around;
		}
		.packages-area__block-header h5 {
			font-size: 20px;
		}
		.packages-area__block-header p {
			font-size: 18px;
		}
		.galery .first-thumbnail img, .galery .first-thumbnail {
			flex: 1 0 65%;
		}
		.write-review-block-body .contact-form_box {
			flex-direction: column;
		}
		.write-review-block  {
			justify-content: center!important;
		}
		.btn-book {
			font-size: 21px;
		}

	}
	@media (max-width: 572px) {
		.travel-area__box {
			width: 414px;
			margin-left: 60px;
		}
		.owl-carousel .owl-nav .owl-next:after {
			right: 18px;
		}
		.owl-carousel .owl-nav .owl-prev:before {
			left: 18px;
		}
		.owl-item .logo-list__item {
			width: 148px;
		}
		.packages-area__block-header p {
			font-size: 16px;
		}
		.review-ball {
			font-size: 18px;
		}
		.sidebar-block img {
			width: 100%;
		}
		.side_bar-icon img {
			width: auto;
		}
		.show-more-galery span {
			font-size: 14px;
		}
		.show-more-galery img {
			width: 32px;
		}
	}
	@media (max-width: 512px) {
		.travel-area__box {
			width: 370px;
			margin-left: 55px;
		}
		.owl-carousel .owl-nav .owl-next:after {
			margin-right: 16px;
		}
		.travel-area__box {
			display: flex;
		}
		.selectpicker__box .filter-option-inner-inner {
			font-size: 18px;
		}
		.banner-tab .tab-content .tab-pane .tab-pane__content {
			padding: 20px 29px;
		}
		.banner-tab .nav-tabs .nav-item {
			font-size: 18px;
		}
		.btn-search {
			font-size: 18px;
		}
		.btn-search i {
			font-size: 23px;
			margin-right: 10px;
		}

	}
	@media (max-width: 466px) {
		.banner-tab .nav-tabs .nav-item {
			font-size: 16px;
			padding:14px 8px;
		}
		.banner-tab .nav-tabs .nav-item.active {
			padding:18px 8px;
		}
		.banner-title {
			font-size: 26px;
		}
		.banner-title span {
			font-size: 18px;
		}
		.btn-quote {
			width: 150px;
			font-size: 14px;
		}
		.banner-title {
			transform: translateY(20px);
		}
		.btn-search {
			background-position-x: 35%;
		}
		.book-area__image img {
			width: 100%;
			height: 100%;
		}
		.travel-area__box {
			width: 350px;
			margin-left: 45px;
			padding:10px;
		}
		.travel-area__box-title {
			font-size: 22px;
		}
		.travel-area__box-text {
			font-size: 16px;
		}
		.owl-carousel .owl-nav .owl-next:after {
			right: -18px;
		}
		.owl-carousel .owl-nav .owl-prev:before {
			left: 0px;
		}
		.works-area__block-thumbnail img {
			width: 100%;
			height: 100%;
		}
		.works-area__block-title span {
			width: 50px;
			height: 40px;
			font-size: 16px;
		}
		.works-area__block-title {
			font-size: 22px;
		}
		.works-area__block-text {
			font-size: 16px;
		}
		.area__title {
			font-size: 26px;
		}
		.packages-area__block-header h5 {
			font-size: 28px;
		}
		.packages-area__block-header p {
			font-size: 18px;
		}
		.post-image img {
			width: 100%;
			height: 100%;
		}
		.post-content {
			padding: 0px;
		}
		.post-content__title {
			font-size: 18px;
		}
		.post-content .stars i {
			font-size: 16px;
		}
		.post-image img {
			width: 130px;
		}
		.post-content {
			margin-left: 11px;
		}
		.post-content__text  {
			display: none!important;
		}
		.review-ball {
			font-size: 16px;
		}
		.read-box {
			padding: 10px;
		}
		.read-box__price span {
			font-size: 16px;
		}
		.read-box__price h3 {
			font-size: 36px;
		}
		.btn-read-more {
			width: 130px!important;
			height: 55px;
		}
		.read-box__header img {
			width: 55px;
			height: 55px;
		}
		.packages-area__block-header p {
			font-size: 14px;
		}
		.packages-area__block-header h5 {
			font-size: 20px;
		}
		.price {
			font-size: 36px;
		}
		.cart-block_item-thumbnail img {
			width: 25px;
			height: 25px;
		}
		.cart-block__box {
			flex-direction: column;
			align-items: center;
		}
		.cart-block__box .cart-block_item:nth-child(odd) {
			margin-right: 0px;
		}
		.cart-block_item {
			width: 100%;
			max-width: 100%;
		}
		.cart-block__box.selecting .cart-block_item:nth-child(odd), .cart-block__box.selecting .cart-block_item:nth-child(even) {
			max-width: 100%;
			width: 100%;
		}
		.flight-info__block-box .info-flying {
			border-right: none;
		}
		.flight-info__block-box .info-flying img {
			display: inline-block;
		}
		.packages-block__box-info {
			flex-wrap: wrap!important;
		}
		.flight-info__block-box .info-flying {
			padding-right: 0px;
		}
		.info-flying__city:last-child {
			justify-content: center;
			flex-direction: column;
			margin-top: 20px;
			align-items: center;
		}
		.info-flying__city:first-child {
			justify-content: space-between;
		}
		.flying__time {
			margin: 20px 0px;
		}
		.flight-info__block-box .info-flying__box {
			margin-left: 0px;
			margin-top: 20px
		}
		.info-flying__box {
			width: 100%;
		}
		.flight-info__block-box .info-flying__city:last-child p {
			width: auto;
		}
		.galery-content__title-city {
			padding: 5px 10px;
			font-size: 16px;
		}
		.galery-content .stars i {
			font-size: 16px;
			margin-right: 5px;
		}
		.galery-content_title {
			font-size: 22px;
		}
		.galery-content_text {
			margin: 20px 0px 34px;
			font-size: 16px;
		}
		.aminities-list-box h5 {
			font-size: 22px;
		}
		.aminities-list_item {
			font-size: 16px;
		}
		.travel-info_block-content-title {
			font-size: 22px;
		}
		.travel-info_block-content-text {
			margin: 20px 0px 27px;
			font-size: 16px;
		}
		.travel-info_block-reviews-box_body::after {
			display: none;
		}
		.travel-info_block-reviews-box {
			flex-direction: column-reverse;
		}
		.travel-info_block-reviews-box_head {
			margin-top: 20px;
		}
		.travel-info_block-reviews-box_head h6 {
			font-size: 18px;
			margin-left: 0px;
		}
		.subscribe_email {
			padding-left: 20px;
		}
		.btn-subscribe {
			font-size: 18px;
		}
		.price-box {
			padding-right: 15px;
		}
		.price-box__thumbnail img {
			width: 70px;
			height: 70px;
		}
		.request-area__collapse .panel-title>a {
			padding: 25px 25px;
			font-size: 22px;
		}
		.btn-book {
			font-size: 18px;
		}
		.collapse__number {
			width: 40px;
			height: 40px;
			padding: 5px;
			font-size: 22px;
			margin-right: 15px;
		}
		.contact-form {
			padding: 40px 10px 17px;
		}
		.book-area__image img {
			width: 300px;
			height: 285px;
		}
	}
	@media (max-width:425px) {
		.travel-area__box {
			margin-left: 25px;
		}
	}
	@media (max-width: 375px) {
		.travel-area__box {
			width: 300px;
		}
	}



