body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.nav-link {
    color: black;
    font-size: 14px;
    line-height: 17px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mt-70 {
    margin-top: 70px;
}

.w-sm-100 {
    width: 100%;
}

.img-galery-mini {
    width: 150px;
}

header {
    position: relative;
}

header .navbar {
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
    width: 100%;
    text-align: center;
}

header .navbar-collapse.collapse {
    transition: height 0.35s ease;
}

header .navbar-collapse.collapsing {
    height: 0 !important;
}

header .collapse.show {
    max-height: none;
    height: 100vh;
}

.img-mini {
    width: 50px;
    height: 50px;
}

.img-normal {
    width: 190px;
    height: 135px;
    border-radius: 10px;
}

.navbar-toggler {
    background-color: #57a773;
    padding: 5px 3px;
}

.navbar-toggler-icon i {
    color: white;
}

.navbar-toggler-icon {
    padding-top: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #57A773;
}

.navbar-brand:hover {
    color: #57A773;
}

.ptb-100 {
    padding: 100px 0px;
}

.pb-100 {
    padding-bottom: 100px;
}

a:hover {
    text-decoration: none;
}

form {
    padding: 30px 15px;
}

.form-inputs {
    width: 100%;
    border: 1px solid #E8E9E8;
    border-radius: 3px;
    padding: 17px 10px;
    margin-bottom: 10px;
}

.submit button {
    padding: 18px 82px;
}

.btn-success:hover {
    color: #1e7e34;
}

.package-buttons .btn-success {
    padding: 8px 60px;
    margin-bottom: 10px;
    display: inline-block;
}

.btn-reviews .btn-success {
    display: inline-block;
    background-color: #57a77300;
    border-color: #57a77300;
    color: #57a773;
}

.review-drop-down .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    background-color: #57a77300;
    color: #1e7e34;
    border: none;
    border-color: #57a77300;
}

.review-drop-down .btn-success:hover {
    border: none;
    border-color: #57a77300;
}

.review-drop-down .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .0);
}

.review-drop-down .btn-reviews .btn-success:hover {
    border-color: #57a77300;
}

.review-drop-down .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .0);
}

.review-drop-down .btn-success:not(:disabled):not(.disabled).active {
    background-color: #57a77300;
}

.form-header-text h3 {
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.form-header-text p {
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
}

.submit p {
    margin: 0;
}

.submit p a {
    font-size: 14px;
    line-height: 20px;
    color: #57A773;
}

.navbar-brand {
    color: #57A773;
    font-size: 22px;
    line-height: 29px;
}

.logo-icon i {
    background: #57A773;
    color: white;
    padding: 9px 12px;
    border-radius: 5px;
}

.logo-icon {
    margin-right: 5px;
}

.registr-nav {
    -webkit-box-shadow: 0px 14px 24px 0px rgba(229, 229, 229, 1);
    -moz-box-shadow: 0px 14px 24px 0px rgba(229, 229, 229, 1);
    box-shadow: 0px 14px 24px 0px rgba(229, 229, 229, 1);

}

.offer-box {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 3px;
}

.rewievs p {
    background: #57A773;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 11px;
    color: white;
    font-size: 12px;
    line-height: 15px;
}

.rewievs {
    margin-left: 8px;
}

p {
    margin-bottom: 0px;
}

.fabulous p {
    font-size: 12px;
    margin-bottom: -8px;
}

.fabulous span {
    font-size: 12px;
    color: #000000;
    opacity: 0.5;
}

.price p {
    font-size: 24px;
    line-height: 29px;
    color: #4E9466;
}

.price span {
    font-size: 12px;
    color: #000000;
    opacity: 0.5;
}

.review-btn .btn-success {
    padding: 8px 35px;
}

.btn-success {
    display: block;
    margin-top: 10px;
    background: #57A773;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    color: white;
    padding: 8px 0px;
    justify-content: flex-end;
}

.btn-success a {
    color: white;
}

.btn-success:hover, .btn-success:not(:disabled):not(.disabled):active {
    background-color: white;
    border: 1px solid #57A773;

}

.btn-success:hover a {
    color: #57A773;
}

.btn-success:hover .btn {
    border: 1px solid #4E9466;
}

.offer-box h5 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    margin-left: 75px;
}

.info {
    border-bottom: 1px solid #EAEAEA;
}

.info:not(:first-child) {
    margin-top: 1rem;
}

.info p, b {
    margin-right: 20px;
}

.info p {
    font-size: 12px;
}

.info b {
    font-size: 16px;
    margin-right: 20px;
}

.price-box {
    border-left: 1px solid #EAEAEA;
}

.info-blocks span {
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
}

.info-blocks p {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.info-blocks .stars i {
    color: yellow;
    font-size: 12px;
}

.price-list {
    margin-top: 85px;
}

.lenta {
    position: absolute;
    z-index: 1;
    left: 15px;
}

.lenta p {
    position: absolute;
    z-index: 9999;
    background: #57A773;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 15px;
    left: -30px;
}

.lenta span img {
    z-index: 9999;
    position: absolute;
    left: -30px;
    top: 21px;
}

.enter-area {
    position: relative;
}

.enter-area-img img {
    width: 100%;
}

.enter-area-text h2 {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.tab-area {
    position: relative;
}

.tab-area .tab-content {
    background-color: white;
}

.tab-area .nav-tabs {
    border: none;
}

.tab-area .nav-tabs {
    display: flex;
    align-items: flex-end;
}

.tab-area {
    transform: translateY(-64px);
}

.tab-area .nav-tabs .nav-link.active {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    border: none;
    color: #57a773;
}

.tab-area .nav-tabs .nav-link-hajj {
    padding: 18px 90px;
    background-color: white;
    color: #C4C4C4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.tab-area .nav-tabs .nav-link-umarah {
    padding: 18px 75px;
    background-color: white;
    color: #C4C4C4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.tab-area .nav-tabs .nav-link:hover {
    color: #57A773;
}

.search-tab input {
    width: 100%;
}

input {
    width: 100%;
}

.footer-search .btn-success {
    width: 100%;
    margin-top: 0px;
}

.footer-search {
    border-radius: 3px;
    background-color: white;
}

.search-input input {
    border: none;
    padding: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.footer-text h3 {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF
}

.footer-search div {
    padding: 5px;
}

.footer-text span {
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
}

.email-area {
    background-color: #212121;
}

.footer-end {
    text-align: center;
    padding: 10px;
}

.footer-end p {
    font-size: 14px;
}

.nav-price-box {
    margin-right: -105px;
}

.price-bar-box h5 {
    font-size: 18px;
    line-height: 22px;
    margin-right: 3rem;
}

.price-bar-box {
    justify-content: space-around;
}

.price-in-bar {
    margin-left: 100px;
}

.price-in-bar p {
    font-size: 24px;
    line-height: 29px;
    color: #4E9466;
    margin-bottom: 5px;
}

.price-in-bar span {
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.book-btn-box {
    background-color: black;
}

.book-btn a {
    padding: 8px 55px;
}

.detalis span {
    color: black;
    opacity: 0.5;
}

.package-detals {
    border-top: 1px solid #E8E9E8;
}

.package-texts p {
    font-size: 14px;
    line-height: 25px;
}

.package-texts h3 {
    font-size: 38px;
    line-height: 46px;
}

.packegs-lenta p {
    left: -30px;
}

.packegs-lenta span img {
    left: -30px;
}

b {
    margin-right: 0px;
}

.plane-times p {
    margin-right: 20px;
}

.packegs-tab .nav .nav-item {
    text-align: center;
}

.packegs-tab .nav .nav-item .nav-link {
    padding: 20px 0px
}

.packegs-tab .nav .nav-item .nav-link:hover {
    color: #57A773;
}

.packegs-tab .nav .nav-item {
    margin: 0px;
}

.packegs-tab .tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
}

.packegs-tab .nav-tabs {
    margin-bottom: -1px;
}

.packegs-tab .nav-tabs .nav-item .active {
    border: 1px solid #dee2e6;
    border-bottom: none;
}

.myhover:hover {
    opacity: 0.6;
}

.card {
    border: none;
}

.item p {
    font-size: 14px;
    line-height: 25px;
}

.item span {
    font-size: 12px;
    line-height: 21px;
    color: #999999;
}

.item-last-content {
    padding-right: 30px;
}

.owl-nav {
    display: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 150px;
    height: 3px;
}

.owl-dots {
    margin-top: 30px;
}

.corusel-rewiev-mark {
    font-size: 66px;
    line-height: 79px;
    color: #57A773;
}

.corusel-rewiev-mark-content span {
    font-size: 16px;
    color: #B0B0B0;
}

form label .star {
    color: red;
    opacity: 1;
}

form input,
form label {
    position: relative;
    display: inline-block;
    width: 100%;
}

form label {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 5px 0;
    top: 45px; /* moving label down */
}

form label {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 5px 0;
    top: 45px;
    color: #000000;
    opacity: 0.5;
    transition: all 0.3s ease; /* adding animation */
    left: 20px;
    z-index: 1; /* placing label behind input */
}

form input[type="text"],
form input[type="password"],
form textarea {
    font-size: 12px;
    line-height: 14px;
    color: #999999;
    padding: 25px 0 5px 25px;
    margin-bottom: 0.5em;
    height: 60px;
    z-index: 10;
    background: transparent; /* adding transparency */
    border: 1px solid #E8E9E8;
    border-radius: 3px;
}

form textarea.form-inputs {
    height: auto;
    padding: 30px 30px;
}

.filled label {
    top: 30px;
    font-size: 0.8em;
    opacity: 1;
}

.btn-for-searching {
    padding: 17px 0px;
    margin-top: 25px;
    margin-left: 10px;
}

.fordatepicker .field input {
    height: 60px;
    padding: 25px 0 0px 35px;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #E8E9E8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fordatepicker .field label {
    top: 30px;
    opacity: 1;
    left: 15px;
    font-size: 12px;
    line-height: 15px;
}

.fordatepicker .field label i {
    color: #C4C4C4;
    margin-right: 10px;
    font-size: 14px;
}

.fordatepicker {
    padding: 0px;
}

.select2-container--default .select2-selection--multiple {
    border: none;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    font-size: 12px;
    line-height: 14px;
    height: 60px;
    border: 1px solid #e8e9e8;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 25px 35px 0px;
}

.select2-container--open .select2-dropdown--above {
    z-index: 9999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.tab-content {
    padding: 0px 10px;
}

.search-input input:focus {
    outline: none;
}

.dropdown-menu {
    position: fixed;
    float: left;
}
.search-from{
    width: 100%;
}
.search-from .select2-container{
    background: #F9F9F9;
}

.search-from .select2-container--default .select2-selection--single {
    background: #F9F9F9;
}

.search-from.fordatepicker .field input{
    background: #F9F9F9;
}

.offer-box .price-box{
    background: #F9F9F9;
}

@media screen and (max-width: 1199px) {
    .packegs-tab .nav-tabs .nav-item {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .package-time-table {
        padding: 25px 0px;
    }

    .book-btn-box .package-buttons {
        justify-content: center;
    }

    .offer-box .btn-success {
        margin-bottom: 10px;
    }

    .corusel-rewiev-box {
        justify-content: center !important;
    }

    .nav-price-box {
        margin-right: 0px;
    }

    .price-bar-box {
        justify-content: space-between;
    }

    .enter-area-text h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .price-box {
        border: none;
    }

    .plane-img {
        border-bottom: 1px solid #dee2e6;
        text-align: center;
    }

    .package-time-table {
        border-top: none;
    }

    .review-br {
        border-top: none !important;
    }

    .btn-for-searching {
        margin-left: 0px;
    }

    header .navbar .navbar-nav .nav-item .nav-link {
        font-size: 20px;
        margin-bottom: 15px;
    }

    header .navbar-nav {
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

@media screen and (max-width: 891px) {
    .owl-theme .owl-dots .owl-dot span {
        width: 50px;
    }

    .umrah-content {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .packegs-area .info {
        justify-content: center !important;
    }

    .for-info-arrive {
        margin-left: 80px !important;
    }

    .info-blocks {
        text-align: center;
        justify-content: center;
    }

    .info {
        justify-content: center;
    }

    .offer-box h5 {
        margin-left: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 705px) {
    .nav-price-box {
        justify-content: center;
    }

    .nav-price-box .price-in-bar {
        text-align: center !important;
        margin: 0px;
    }

    .enter-area-text h2 {
        font-size: 30px;
        line-height: 35px;
    }
}

@media screen and (max-width: 691px) {
    .nav-price-box {
        flex-direction: column;
        align-items: center;
    }

    .tab-area {
        transform: translateY(20px);
    }

    .tab-area .nav-tabs .nav-link.active {
        color: white;
        background-color: #57a773;
        padding-top: 20px;
    }

    .tab-area .nav-tabs .nav-link-hajj {
        padding: 15px 65px;
    }

    .tab-area .nav-tabs .nav-link-umarah {
        padding: 15px 55px;
    }

    .tab-area .nav-tabs .nav-link:hover {
        color: #fff;
    }

    .enter-area-text h2 {
        top: 60%;
    }

    .tab-content {
        padding: 0px;
    }

}

@media screen and (max-width: 576px) {
    .container {
        padding-right: 35px;
        padding-left: 35px;

    }
}

@media screen and (max-width: 533px) {
    .enter-area-text h2 {
        font-size: 20px;
        line-height: 25px;
    }

    .package-texts h3 {
        font-size: 30px;
    }

    .info-blocks {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 464px) {
    .tab-area .nav-tabs .nav-item {
        width: 100%;
        text-align: center;
    }

    .corusel-rewiev-mark {
        font-size: 45px;
    }

    .enter-area-text h2 {
        font-size: 14px;
        line-height: 18px;
    }

    .corusel-rewiev-mark-content {
        align-items: center;
    }

    .w-sm-100 {
        width: auto;
    }
}

@media screen and (max-width: 412px) {
    .info {
        justify-content: center;
    }

    .for-info-arrive {
        margin: 0px !important;
    }
}

@media screen and (max-width: 453px) {
    .price-bar-box {
        justify-content: center !important;
    }

    .price-bar-box h5 {
        margin-right: 0px;
    }

    .img-normal {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 391px) {
    .package-texts h3 {
        font-size: 23px;
    }
}


.no-padding {
    padding: 0;
}


fieldset.scheduler-border {
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.scheduler-border.dynamic-field {
    padding-top: 20px;
}

.remove-button {
    position: absolute;
    top: -20px;
    right: 10px;
}

fieldset.scheduler-border {
    position: relative;
}

fieldset.scheduler-border legend {
    width: auto;
}

.form-group.material {
    position: relative;
}

.material label {
    position: absolute;
    top: 0;
}

.material label {
    top: 16px;
}

.input-active ~ label, .input-filled ~label {
    top: 5px;
    font-size: 12px;
    opacity: 1;
}

form input.input-error.input-dirty {
    border-color: red;
}


form .pure-material-checkbox{
    position:initial ;
    opacity:1;
}

.pure-material-checkbox input[type="checkbox"] {
    display: inline;
    width: auto;
}


.zafa-sokkichi{
    opacity: 1;
    position: initial;
    width: auto;
}

.zafa-sokkichi input[type="checkbox"]{
    width:auto;
    margin-right: 10px;
}

.page-item.active .page-link {
    background-color: #57A773;
    border-color: #57A773;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0);
}

.page-link, .page-link:hover {
    color: #57A773;
   padding:  .8rem 1rem;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(87, 167, 115, 0.3);
}

.hidden{
    display: none;
}
